@charset "UTF-8";

.header {
  height: 7rem;
  background-color: #f2f2f2;
  width: 100vw;
  padding: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon{
  border-radius: 1rem;
}

.navbar{
  display: flex;
  flex-direction: row;
  ul{
    display: flex;
    gap: 2rem;
    margin: 0;
  }
}

.usericon{
  
}